
* {
    margin: 2px;
    padding: 0;
}   

nav {
    background-color: rgba(241, 198, 236, 0.596);
    width: 100%;
    position: fixed;
}

header li {
    font-size: bold;
    list-style-type: none;
}
header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    color: rgb(255, 0, 157);
    padding: 25px 16px;
    margin: 10px;
}
nav ul {
    display: flex;
    float: right;
    margin-right: 1%;
}
nav li:hover {
    transform: scale(1.5); 

 }

.Présentation{
    background:linear-gradient(to top, rgba(194, 104, 167, 0.486), rgb(252, 252, 252));

}
.logo-description{
    display: flex;
    padding:10%;
    height: 400px;
}
.logo{
    margin-top: 7%;
}
.logo img{
    width: 14em;
    height: 18em;
    padding: 3%;
    background:white;
    border-radius: 50%; 
    object-fit: cover;
}

.description{
    background-color: rgb(235, 162, 225);
    float: right;
    margin-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: larger;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100%;
}
    span.ingredient {
    color: rgb(228, 30, 185);
    font-family: 'Tapestry','Arial Narrow Bold';
    font-weight:900;
    font-size: 60px;
}

.description h2{
    font-size: 45px;
}

.description p{
overflow: auto;

}
.skills{
    position: static;
    margin-top: 7rem;
    
}
.card{
    display: flex;
 
    justify-content: center;
    gap: 1%;
    width: 100%;
 }
.box{
   padding: 2em;
   margin: 1em;
}
.box p{
font-size: 1rem;
}

.box img{
    height: 5em;
}

.portfolio{
    height: 20em;
    margin-top: 30px;
    
}
.portfolios{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
    background:linear-gradient(to top, rgba(194, 104, 167, 0.486), rgb(252, 252, 252));
}
.section_portolio{
    position: static;
    height: 250%;
    width: 100%;
    border: 1 solid black;
}
.portfolio img{
    border: 1px solid black;
 
}

.ctc{
    position: static;
    background:linear-gradient(to top, rgba(194, 104, 167, 0.486), rgb(252, 252, 252));

}
.formulaire{
   margin: 5% 30% 5% 30%;
   min-width: 330px;
   justify-content: center;
   height: 200%;
   display: flex;
   flex-wrap: wrap;
   border:  solid rgba(0, 0, 0, 0.39);
   background-color: rgb(235, 162, 225);
   box-shadow: 7px 10px 9px rgb(153, 11, 117)
    
}
.center{
   width: 55%;
   padding: 2em 10em 2em 2em;
}

.socialmedia{
    width: 100%;
    font-size: 45px;
    justify-content: center;
    align-items: center;
}
.socialmedia ul{
    width: fit-content;
    margin: 0 auto;
    list-style-type: none;
    display: flex;
}
.fa-brands{
    padding: 30px;
    margin: 5%;
}
.fa-brands:hover {
transform: scale(1.5);

 }
.fa-github{
    color: rgb(255, 0, 157);
}
.fa-facebook{
    color: #3b5999;
}
footer{
    background-color: rgb(238, 167, 214);
}

@media  (max-width: 952px) {
    .logo-description{
        display: flex;
        flex-direction: column;
    }
    .skills{
        margin-top: 32rem;
        
    }
    .formulaire{
        margin: 0%;
    }
    span.ingredient{
        font-size: 45px;
    }
    .description h2{
        font-size: 30px;
    }
    .box{
        padding: 0%;
    }
    .logo img {
        margin-left: 18%;
    }
    .description{
        height: 500px;
    }
}

